@tailwind base;
@tailwind components;

@font-face {
  font-family: 'mottercorpusstd';
  src: url('./fonts/MotterCorpusStd-Regular.ttf') format('truetype');
}

@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
